{% extends 'layout.html.twig' %}

{% block title %}Evidence zaměstnanců - smazání role{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/general.css') }}">
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}

{% block content %}
    <main class="main-container">
        <section>
            <h2>Smazání role</h2>

            <div class="form-container">
                <p>Opravdu chcete smazat roli {{ role.title }}?</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
